// Sidebar navigation menu
// ----------------------------------------------------------------------------

.svg-inline--fa{
    width:2em;
    height:2em;
}

.main-sidebar {
    background: var(--body-bg);
    width: 260px;
    height: 100vh;
    left: calc(0px - 2 * 20px - var(--sidebar-max-width));
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    transition: left 0.3s;
    z-index: $zindex-modal-backdrop + 1;
    width: calc(2 * 20px + var(--sidebar-max-width));

    @media(min-width: 1024px) {
        height: unset;
        padding: 0;
        position: static;
        z-index: $zindex-modal-backdrop - 1;
        width: initial;
    }
}


.sidebar-menu{
    margin-top: 100px;
    color: var(--gray-600);
    font-size: var(--font-size-xl);
}
.sidebar-menu ul {
    padding-left: 0;
    padding: 12px 15px;
    margin-left: 7px;
    margin-right: 8px;
}



.sidebar-menu .header {
    color: var(--gray-600);
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    padding: 7px 5px 7px 0;
    text-transform: uppercase;
    font-size: var(--font-size-xl);

}
.sidebar-menu .header:first-child {
    margin-top: 0px;
}

.sidebar-menu li {
    list-style: none;
    color: var(--text-color-dark);
}

.sidebar-menu a {
    color: var(--text-color-dark);
    display: block;
    line-height: 20px;
    padding: 4px 5px 8px 0;
}

.sidebar-menu .menu-icon {
    color: currentColor;
    filter: opacity(50%);
    font-size: var(--font-size-icon);
    margin-right: 4px;
    vertical-align: text-bottom;
    width: 20px;
}

.sidebar-menu li:not(.submenu-active).active {
    border-radius: var(--border-radius);
    font-weight: 500;
}

.sidebar-menu li:not(.submenu-active).active a,
.sidebar-menu li:not(.submenu-active).active .menu-icon {
    border-radius: 0 60px 60px 0;
    color: #fff !important;
    background: linear-gradient(to right, #ffbf69, #ffc77e, #ffcf90, #ffd7a3);
    box-shadow: 0 7px 12px 0 rgb(255, 159, 28);
    opacity: 1
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.sidebar-menu .menu-open .treeview-icon {
    transform: rotate(90deg);
}

.treeview {
    position: relative;
}

li a:hover {
    text-decoration: none;
    border-radius: 0 60px 60px 0;
    color: #fff !important;
    background: linear-gradient(to right, #ffbf69, #ffc77e, #ffcf90, #ffd7a3);
    box-shadow: 0 7px 12px 0 rgb(255, 159, 28);
    opacity: 1;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.treeview a:hover {
    /* color: black;
    font-weight: bold;*/
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-radius: 0 60px 60px 0;
    color: #fff !important;
    background: linear-gradient(to right, #ffbf69, #ffc77e, #ffcf90, #ffd7a3);
    box-shadow: 0 7px 12px 0 rgb(255, 159, 28);
    opacity: 1;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.treeview-menu {
    display: none;
    margin-bottom: 12px;
    margin-top: -4px;
}

.sidebar-menu .active .treeview-menu {
    display: block;
}

.treeview-menu a {
    color: var(--text-color);
    font-size: var(--font-size-lg);
    line-height: 20px;
    padding: 3px 5px 3px 28px;
}

.treeview-menu a .fa {
    color: var(--text-color);
    filter: opacity(50%);
    font-size: var(--font-size-xl);
    margin-right: 4px;
    width: 16px;
}

.treeview .treeview-icon {
    position: absolute;
    top: 6px;
    right: 1px;
    transition: transform 0.25s ease;
    width: auto;
}

.treeview.menu-open .treeview-icon {
    transform: rotate(90deg);
}

body.ea-sidebar-width-compact .main-sidebar {
    overflow: visible;

    @media(min-width: 1024px) {
        width: 24px;
    }
}

@media(min-width: 1024px) {
    body.ea-sidebar-width-compact .sidebar-menu a {
        padding: 7px 5px 7px 0;
    }

    body.ea-sidebar-width-compact .sidebar-menu li span,
    body.ea-sidebar-width-compact .sidebar-menu li .treeview-icon {
        display: none;
    }
    body.ea-sidebar-width-compact .sidebar-menu li {
        position: relative;
    }
    body.ea-sidebar-width-compact .sidebar-menu li:hover {
        background: var(--body-bg);
        border-radius: var(--border-radius);
        width: var(--sidebar-max-width);
        z-index: $zindex-modal-backdrop;
    }

    .ea-sidebar-width-compact .sidebar-menu li.header {
        height: 0;
        overflow: hidden;
        padding: 0;
        width: 0;
    }

    body.ea-sidebar-width-compact .sidebar-menu .treeview-menu li:hover {
        width: unset;
    }
    body.ea-sidebar-width-compact .sidebar-menu li:hover span {
        display: inline-block;
        left: 32px;
        position: absolute;
        top: 7px;
    }

    body.ea-sidebar-width-compact .sidebar-menu li:hover .treeview-menu a {
        padding: 3px 5px 3px 11px;
    }
    body.ea-sidebar-width-compact .sidebar-menu li:hover .treeview-menu span {
        position: static;
    }
    body.ea-sidebar-width-compact .sidebar-menu li .fa {
        font-size: 21px;
        width: 24px;
    }
    body.ea-sidebar-width-compact .sidebar-menu .treeview-menu li .fa {
        font-size: var(--font-size-base);
        width: 16px;
    }

    .ea-sidebar-width-compact .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }
    .ea-sidebar-width-compact .sidebar-menu > li > a > span,
    .ea-sidebar-width-compact .sidebar-menu > li > .treeview-menu {
        display: none !important;
    }

    .ea-sidebar-width-compact .sidebar-menu > li:hover > a > span,
    .ea-sidebar-width-compact .sidebar-menu > li:hover > .treeview-menu {
        background: var(--body-bg);
        display: block !important;
        position: absolute;
        left: 32px;
        width: calc(var(--sidebar-max-width) - 32px);
    }
    .ea-sidebar-width-compact .sidebar-menu > li:hover > .treeview-menu {
        top: 32px;
        margin-left: 0;
    }
}
